.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width:100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 1;
}
.logo{
    object-fit: cover;
    width:12rem;
    height: 3rem;
}
.desktopMenuList{
    margin: 1rem;
    cursor: pointer;
}
.desktopMenu{
    color:black;
    background-color: white;
    padding:10px;
    border-radius: 2rem;
}
.desktopMenuList:hover{
    color:yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}